<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>New Chat</h1>

    <form action="/chats" class="newChat" method="post" >
        From: <input type="text" name="from">
        Msg : <textarea name="msg" rows="5" id=""></textarea>
        To: <input type="text" name="to">
        <br>
        <button>Create</button>
    </form>
</body>
</html>