<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
</head>
<body>
    <h4>Edit</h4>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <input type="text" name="username" value="<%= user.username %>">
        <textarea name="bio" id=""><%= user.bio %></textarea>
        <button>Done</button>
    </form>
</body>
</html>